<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>To Do List</h1>
</div>


<% @items.each do |item| %>
  <h3>
    <%= link_to '<span class="far fa-check-square"></span>'.html_safe, item, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= item.item %>
    <%= link_to 'Show', item %>
     <%= link_to '<span class="far fa-edit"></span>'.html_safe, edit_item_path(item) %>
  </h3>
<% end %>

<br>

<%= link_to 'New Item', new_item_path %>
