<h1 class="text-centre-align"><%= link_to '<span class="far fa-plus-square"></span>'.html_safe, new_item_path %></h1>

<p id="notice"><%= notice %></p>

<div class="index">
  <% if @items.length > 0 %>
    <% @items.each do |item| %>
      <h3>
        <%= link_to '<span class="far fa-check-square"></span>'.html_safe, item, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= item.item %>
        <%= link_to '<span class="far fa-sticky-note"></span>'.html_safe, item %>
         <%= link_to '<span class="far fa-edit"></span>'.html_safe, edit_item_path(item) %>
      </h3>
    <% end %>
  <% else %>
    Add a task to your to do list!
  <% end %>
</div>
